DB_USERNAME=postgres
DB_PASSWORD=s3cr3tP@ssw0rd
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=s3cr3tP@ssw0rd
POSTGRES_USERNAME_B64=cG9zdGdyZXM=
POSTGRES_PASSWORD_B64=czNjcjN0UEBzc3cwcmQ=
APP_ADMIN_ROLE=admin
APP_ALLOWED_ORIGINS=http://localhost:4200,http://app-nottambulo.local
