# Java / Maven
/target/
**/target/
**/.m2/
**/*.jar
*.log
!.mvn/wrapper/maven-wrapper.jar

# Node
/frontend/node_modules/
/backend/node_modules/
**/node_modules/
**/.angular/
/dist/
**/dist/
npm-debug.log*

# IDE/editor
*.swp
*.swo
*.DS_Store
.vscode/
.idea/
*.iml
.env

# OS
Thumbs.db
*.tmp
